@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;900&family=Roboto+Serif:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
}

main {
  height: 90vh;
}

.navbar {
  font-family: "Montserrat", sans-serif;
  height: 12vh;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #dedede;
  margin: 2rem auto;
  cursor: default;
}

.poster {
  margin: 10px auto;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #f0a500;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 32px;
  margin: 20px auto 5px auto;
}

.release-runtime {
  margin: 10px auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.vote {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.vote-star {
  color: "#FFCE45";
  width: "28px";
  height: "28px";
  margin: "6px 10px 6px 0px";
}

.vote-count {
  font-size: 11px;
  display: block;
}

.genres {
  margin: auto 5px;
  padding: 10px;
}

.genres:first-of-type {
  margin-left: 0px;
}

.overview {
  font-family: "Roboto Serif", serif;
  font-weight: 400;
  text-align: justify;
  margin: 20px auto;
}

.similar-poster {
  margin: 5px;
  padding: 2px;
  border: 0.5px solid #f0a500;
}
